# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/geopolis-profile.dev/default.settings.php
sites/geopolis_profile/*
sites/*/files
sites/*/private
sites/sites.php
.idea
../.idea
sites/all/modules/contrib/angil
sites/geopolis_profile/*
tags
today.vim
today
*.swp
*.swn
*.swo
html
