html body.admin-menu {
  margin-top: 0px !important;
}

.twitter-share-button {
  width: 96px !important;
}

#___plusone_0,
#___plusone_1 {
  width:74px !important;
}

.articles-holder .marker {
  color: #333;
  padding-bottom: 0px;
}

.text-form {
  margin: 0px!important;
}

.search-panel .holder .form-actions {
  margin: 0px!important;
}
