/* WELCOME SCREEN */

body {
  background-color: white;
}

div.capture_main {
  width: auto;
  margin: 0 45px;
}

div.capture_header.welcome {
    background: url("../img/header-bg.png") no-repeat scroll center bottom transparent;
    margin: 0;
    padding: 15px;
    text-align: center;
}

div.capture_header.welcome h1.welcome {
  color : #353535;
}

div.capture_header.welcome h1.welcome span {
  font-weight : bold;
}

div.capture_main .clear {
  clear : both
}

