h1.comment-bottom-line {
  border-top: 1px solid #DADADA;
}
h1.comment-bottom-line.hide {
  border-top: none;
}

h1.comment-bottom-line span {
  color: #3D77B4;
  float: right;
  font-size: 13px;
  margin-top: 6px;
}

h1 span.comment-login {
  float: right;
  font-size: 14px;
  margin-top: 10px;
}

div.reply.reply_dived.clear.reply_replieable {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #E9EDF1;
  padding: 10px 0;
  position: relative;
}

.wall_reply_text {
  margin-top: 5px;
}

span.rel_date {
  color: #999999;
}

.reply_info {
  margin-left: 68px;
}

.reply_text {
  margin-bottom: 5px;
}

h1.comments {
  margin-bottom: 0px;
  display: block;
  float: left;
  width: 125px;
}

div.social-right {
  float: right;
  margin-top: 16px;
}

div.comment-header-border {
  height: 1px;
  width: 100%;
  clear: both;
  padding-bottom: 9px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

h1.comment-bottom-line {
  margin-top: 0;
}

div.comment-body {
  text-align: justify;
}

h1 span.comment-login {
  float: left;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 6px;
}

textarea {
  border: 0 none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 5px -3px inset;
  -webkit-box-shadow: 0px 0px 2px 0px #9998B7 inset;
  padding: 7px;
}

.resizable-textarea .grippie {
  border: 0;
  background: none;
}

label {
  margin-bottom: 5px;
}

#comment-form {
  clear: both;
  display: none;
}

#comment-form textarea {
  height: 215px;
}

#comment-form #edit-actions {
  float: right;
}

a.comment-delete-link {
  top: 10px;
  left: 600px;
  position: absolute;
  display: none;
  background: url('../images/common.png');
}

a.comment-delete-link > div {
  height: 20px;
  width: 20px;
}

input {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 5px -3px inset;
  -webkit-box-shadow: 0px 0px 2px 0px #9998B7 inset;
  cursor: pointer;
  padding: 7px;
}

div.first.reply.reply_dived.clear.reply_replieable {
  border-top: none;
  padding: 6px 0;
}

.last-comment-counter a {
  display: block;
  font-family: tahoma;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  left: 11px;
  letter-spacing: 3px;
  position: fixed;
  text-shadow: 0 0 9px #39B2F2, 0 0 9px #39B2F2;
  top: 179px;
  width: 45px;
  z-index: 999;
}

.last-comment-counter a.admin-margin {
  top: 221px;
}

.last-comments .reply_text > span {
  display: block;
  float: left;
}
.last-comments .reply_text > div {
  clear: both;
  float: left;
}

.last-comments .reply_info .wd_lnk {
  clear: both;
  float: left;
}

.last-comments div.reply_dived {
  clear: both;
}

.last-comment-counter a.small {
  left: 20px;
}

a.comments-node {
  float: right;
  margin-right: 32px;
}
