h1.comment-bottom-line {
  border-top: 1px solid #DADADA;
}

h1.comment-bottom-line span {
  color: #3D77B4;
  float: right;
  font-size: 13px;
  margin-top: 6px;
}

h1 span.comment-login {
  float: right;
  font-size: 14px;
  margin-top: 10px;
}

div.reply.reply_dived.clear.reply_replieable {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #E9EDF1;
  padding: 6px 0;
  position: relative;
}

div.first.reply.reply_dived.clear.reply_replieable {
  border-top: none;
  padding: 6px 0;
}
