div.updated-text {
  color: gray;
}

a.updated-info,
div.updated-info {
  color: gray;
  margin-right: 5px;
  background: url("../images/social.png") repeat scroll -36px -28px transparent;
  width: 17px;
  height: 17px;
  float: left;
  margin-top: 5px;
}

div.like-info {
  float: right;
  position: relative;
}

div.like-popup {
  font-weight: bold;
  position: absolute;
  bottom: 31px;
  z-index: 5;
  left: -161px;
  height: 88px;
  border: 1px solid black;
  box-shadow: 0px 0px 11px -7px black;
  border-radius: 1px 1px 1px 1px;
  width: 240px;
  background: rgba(7, 7, 7, 0.68);
  display:none;
  padding: 5px;
}

div.like-popup.empty {
  height: 27px;
  left: -103px;
  width: 167px;
}

#wrapper .main .like-popup a,
#wrapper .main .like-popup span {
  color: white;
}

div.like-popup-angle {
position: absolute;
  width: 23px;
  background: url("../images/social.png") repeat scroll 0px -30px transparent;
  height: 12px;
  bottom: 21px;
  z-index: 6;
  left: -2px;
  display:none;
}

div.like-popup-angle:hover,
div.like-popup:hover {
  visibility: visible;
  display: block;
}

.like-info:hover > div.like-popup-angle,
div.like-popup:hover ~ div.like-popup-angle,
div.like-popup-angle:hover ~ div.like-popup,
.like-info:hover > div.like-popup {
  visibility: visible;
  display: block;
}

a.likes-man {
  background: url("../images/m_3QjAWycq0.jpg") repeat scroll 0px 0px transparent;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: block;
  float: left;
}

div.comments-info {
  float: right;
  margin-right: 5px;
}

a.comments-img {
  background-position: -66px -3px;
  display: block;
  height: 23px;
  width: 23px;
  float: left;
  margin-right: 5px;
  background-image: url("../images/social.png");
}


div.like-quantit {
  margin-left: 10px;
  color: black;
}

a.like-ajax-img {
  height: 23px;
  width: 23px;
  float: left;
  margin-right: 5px;
  background-image: url("../images/social.png");
  background-position: -237px -3px;
}

a.like-ajax-img.voted {
  background-position: -217px -3px;
}

div.views-quantity-img {
  height: 23px;
  width: 23px;
  float: left;
  margin-right: 5px;
  background-image: url("../images/social.png");
  background-position: -191px -3px;
}

div.views-quantity {
  float: right;
  margin-right: 5px;
}

div.social-popup-angle {
  position: absolute;
  width: 23px;
  left: -4px;
  background: url("../images/social.png") repeat scroll 0px -30px transparent;
  height: 12px;
  bottom: 21px;
  z-index: 1;
  display: none;
  padding: 0;
}

div.social-popup > div,
div.social-popup > iframe {
  width: 100%;
  clear: both;
  padding: 3px;
}

div.social-popup > .fb-like {
  height: 20px;
}

div.social-popup {
  min-height: 30px;
  position: absolute;
  left: -72px;
  bottom: 31px;
  background: rgba(7, 7, 7, 0.68);
  min-width: 20px;
  box-shadow: 0px 0px 11px -7px black;
  border-radius: 1px 1px 1px 1px;
  border: 1px solid black;
  visibility: hidden;
  padding: 3px;
  margin: 0px;
}

div.social-popup-angle:hover,
div.social-popup:hover {
  visibility: visible;
  display: block;
}

.social:hover > div.social-popup-angle,
div.social-popup:hover ~ div.social-popup-angle,
div.social-popup-angle:hover ~ div.social-popup,
.social:hover > div.social-popup {
  visibility: visible;
  display: block;
}

div.social-img {
  height: 23px;
  width: 23px;
  float: left;
  margin-right: 5px;
  background-image: url("../images/social.png");
  background-position: -160px -3px;
}

div.social {
  float: right;
  margin-right: 5px;
  position: relative;
}

div.statistic {
  clear:both;
}

a.user-name {
  clear: both;
  margin: 0px 10px;
  width: 100px;
  display: block;
  text-align: center;
}

a.usr-img-full {
  width: 100px;
  display: block;
  float: left;
  height: 100px;
  margin: 10px;
}

div.usr-full-wrapper {
  width: 120px;
  float: left;
}

div.people-popup-header {
  height: 47px;
  background: none repeat scroll 0% 0% gray;
}

span.people-popup-title {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: block;
  padding-top: 8px;
  float: left;
}

a.fancybox-close-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: block;
  padding-top: 8px;
  float: right;
  margin-right: 10px;
}

div.people-popup {
  border: 1px solid rgb(149, 145, 145);
  box-shadow: 0px 0px 11px -7px black;
  background: none repeat scroll 0px 0px rgb(255, 255, 255);
  margin: 0px auto;
  position: fixed;
  left: 30%;
  width: 40%;
  top: 30%;
  height: 40%;
  z-index: 6;
}

