ul {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

body {
  margin: 0;
  background: url("../images/space.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
  color: #404040;
  font-family: Trebuchet MS;
  word-wrap: break-word;
}

body.img1 {
  background: url("../images/purple.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img2 {
  background: url("../images/sunset.jpeg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img3 {
  background: url("../images/space.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img4 {
  background: url("../images/purple.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img5 {
  background: url("../images/sunset.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img6 {
  background: url("../images/purple.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img7 {
  background: url("../images/space.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img8 {
  background: url("../images/space.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img9 {
  background: url("../images/purple.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

body.img10 {
  background: url("../images/jump.jpg") no-repeat fixed 0 0 black;
  background-size: cover;
}

/* Header */
div.header > div {
  margin: 7px 0 4px;
}

.header a {
  color: #FFFFFF;
  font-family: Trebuchet MS;
}

.header {
  /*background: none repeat scroll 0 0 white;
  border-bottom: 1px solid #DADADA;*/
  display: block;
  height: 30px;
  width: 100%;
}

a.tea-mug {
  background-image: url("../images/common.png");
  background-position: -1px -52px;
  display: block;
  height: 199px;
  left: 80%;
  position: fixed;
  top: 76%;
  width: 205px;
  z-index: 3;
}

img.pencil {
  background-attachment: fixed;
  left: 88%;
  position: fixed;
  top: 42%;
  z-index: 2;
}

.logo {
  float: left;
}

div.menu {
  float: right;
}

.menu > a {
  margin: 0 15px;
}

.logo a:first-child {
  margin-left: 8px;
}

/* Main */
div.main {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 50px;
  padding: 35px 45px 45px;
  position: relative;
  width: 620px;
  float: left;
  box-shadow: 0 0 11px -3px white;
  -webkit-box-shadow: 0px 0px 2px 0px #FFFFFF inset;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
}

#sidebar {
  float: right;
  margin-left: 50px;
  width: 197px;
}

div#wrapper {
  margin: 15px auto 0;
  width: 960px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
}

ul li, ol li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  margin-left: 20px;
}

#sidebar li {
  list-style: none outside none;
  margin-left: 0;
}

#sidebar li a {
  color: #404040;
}

a {
  color: #3D77B4;
  text-decoration: none;
}

#search-inputs input[type="text"] {
  border: 1px solid #DADADA;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0px 0px 2px 0px #9998B7 inset;
  font-size: 13px;
  height: 28px;
  padding-left: 5px;
  position: relative;
  top: 1px;
  width: 150px;
}

.firewall {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 18px;
}

div.header-border {
  background: none repeat scroll 0 0 #D6D6D6;
  height: 6px;
}

div.header .logo h2 {
  margin-left: 5px;
  margin-top: -3px;
  color: #404040;
  font-family: Trebuchet MS;
}

h1.entryTitle {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 16px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 16px;
}

#wrapper > .main p {
  text-indent: 25px;
  font-size: 16px;
}

#wrapper > .main p.img {
  min-height: 120px;
  margin-bottom: 15px;
}

#wrapper > .main a {
  color: #3D77B4;
}

#wrapper > .main h2 a {
  color: #404040;
}

#wrapper > .main img {
  display: block;
  float: left;
  margin-right: 19px;
}

.logo img {
  margin-top: -4px;
  width: 167px;
}

.footer .footer-body {
  background: none repeat scroll 0 0 transparent;
  color: #707070;
  font-size: 12px;
  line-height: 1.66667;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

section {
  display: block;
}

.footer .footer-body > ul > li {
  display: inline-block;
  font-size: 12px;
  line-height: 1.66667;
  padding: 0;
  white-space: nowrap;
}

.footer {
  clear: both;
  height: 36px;
  padding-top: 96%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.footer .footer-body > ul > li:after {
  content: '';
  margin-left: 28px;
}

.footer .footer-body {
  padding-top: 12px;
}

.footer .footer-body a {
  color: #707070;
}

body.mini-wrapper div.main {
  width:280px;
}

body.mini-wrapper div#wrapper {
  width:627px
}

body.mini-wrapper #edit-actions {
  float:right;
}

body.mini-wrapper form input.form-text {
  width:99%
}
body.medium-wrapper div.main {
  width:379px;
}

body.medium-wrapper div#wrapper {
  width:718px
}

body.medium-wrapper #edit-actions {
  float:right;
}

body.medium-wrapper form input.form-text {
  width:99%
}

.profile h3 {
  font-size: 28px;
  margin-top: 0;
  padding-bottom: 9px;
}

.profile .about-me {
  text-align: justify;
}

a.user-edit-link {
  position: absolute;
  right: 16px;
  top: 8px;
}

form#user-profile-form input {
  width: 98%;
}

form#user-profile-form input.form-submit {
  width: 11%;
}
form#user-profile-form input[type="password"] {
  width: 293px;
}

form#user-profile-form .confirm-parent, .password-parent {
  width: 44.3em;
}

form#user-profile-form input#edit-current-pass {
  width: 98%;
}

div.profile span.access {
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
}

.password-strength {
  width: 277px;
}

img.cropbox {
  max-width: 608px;
}

input#edit-field-asset-image-und-0-remove-button {
  margin: 11px 0 11px 17px;
}

img.file-icon {
  margin-top: 18px;
}

div.messages {
  border: 0 none;
  border-radius: 6px 6px 6px 6px;
}

form#user-profile-form .confirm-parent, .password-parent {
  width: 100%;
}

.form-managed-file .form-file {
  margin-top: 5px;
}

input#edit-field-asset-image-und-0-upload-button {
  margin-left: 11px;
}

form#user-register-form input.form-text {
  width: 98%;
}

div.anonym.reply_image {
  background-image: url('../images/common.png');
  display: block;
  width: 50px;
  height: 50px;
  background-position: -13px 0;
  margin-right: 19px;
  float: left;
}

span.anonym {
  color: #999999;
}

a.logo-img {
  background-image: url("../images/common.png");
  background-position: -66px -1px;
  display: block;
  height: 46px;
  left: 3px;
  position: fixed;
  top: 64px;
  width: 52px;
  z-index: 100;
}

h1.comment-bottom-line.empty {
  border-top: none;
}

#sidebar div.main {
  width: 100%;
}

#wrapper > .main div.admin.edit {
  position: absolute;
  right: 20px;
  top: 13px;
}

#wrapper > .main a.admin.edit:hover {
  color: #3D77B4;
}

div.asset.wrapper {
  background: none repeat scroll 0 0 white;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 1px #EAEAEA;
  padding: 5px;
  margin: 5px 0;
}

div.asset.content-in-body.wrapper {
  height: 288px;
  width: 608px;
}

#wrapper > .main div.asset.content-in-body.wrapper a img {
  width: 608px;
  margin: 0;
  display: block;
}

div.asset.content-small.wrapper {
  height: 295.5px;
  width: 295.5px;
  float: left;
  margin: 2.5px 5px 2.5px 0;
}

div.asset.content-small-right.wrapper {
  height: 295.5px;
  width: 295.5px;
  float: right;
  margin: 2.5px 0 2.5px 5px;
}

div.asset.content-small.wrapper.right {
  margin-right: 0px;
  clear: right;
}

#wrapper > .main div.asset.content-small.wrapper a img {
  width: 295.5px;
  display: block;
}

#wrapper > .main div.asset.content-small-right.wrapper a img {
  width: 295.5px;
  margin: 0;
}

body {
  text-align: justify;
  line-height: 26.1px;
}

.text-node-wrapper {
  display: block;
}

div[id^="wowslider-container"] a.fullscreen-toggle {
  background: url("../images/common.png") repeat scroll -209px -8px transparent;
  display: none;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  z-index: 10;
}

div[id^="wowslider-container"]:hover a.fullscreen-toggle {
  display: block;
}

div.asset.wrapper {
  position: relative;
}

a.fullscreen-toggle {
  background: url("../images/common.png") repeat scroll -209px -8px transparent;
  display: none;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  z-index: 10;
}

div.asset.wrapper:hover a.fullscreen-toggle {
  display: block;
}

div.tea-mug-cloud {
  background: url("../images/common.png") repeat scroll -6px -247px transparent;
  display: block;
  height: 160px;
  left: 80%;
  opacity: 0.6;
  position: fixed;
  top: 66%;
  width: 210px;
  z-index: 11;;
}

a:active,
a:hover,
a {
  outline: none !important;
}

#sidebar {
  margin-left: 19px;
}

#sidebar,
#sidebar .main{
  background: none;
  color: #ffffff;
  text-shadow: 0px 0px 3px black, 0px 0px 3px #BAE2FF;
  padding: 0 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

#sidebar a {
  color: #ffffff !important;
  font-weight: bold;
  display: block;
  margin-bottom: 13px;
}

.wall_reply_text.comment-body {
  overflow: hidden;
}

#wrapper .main a.like-quantity {
  font-size: 14px;
}

#wrapper ul.tag-cloud a {
  color: white;
  display: inline;
}

#wrapper ul.tag-cloud {
  display: block;
  max-width: 197px;
  margin-top: 5px;
}

ul.recent-posts {
  display: block;
  height: 0px;
  overflow: hidden;
}

span.prefix {
  font-size: 20px;
  font-weight: bold;
}

h3.tagadelic {
  margin: 5px 0 5px 0;
}

h3.recent-posts {
  display: block;
  margin-bottom: 0;
}

#sidebar {
  position: fixed;
  display: inline;
}

.header .menu {
  position: fixed;
  right: 12px;
}

a.reload-captcha {
  margin-top: 16px;
  margin-left: 7px;
}

div.reload-captcha-wrapper {
  position: absolute;
  float: left;
  margin-top: 32px;
  margin-left: 167px;
}

div.captcha img {
  width: 123px;
  height: 35px;
}

div.captcha {
  float: right;
  z-index: 0;
}

div.form-item-captcha-response {
  width: 285px;
  margin-top: 0;
}

input#edit-captcha-response {
  float: right;
  padding-right: 7px;
  width: 120px;
}

div.form-item-captcha-response > label {
  float: right;
  position: absolute;
  margin-left: 238px;
  margin-top: 32px;
}

div.captcha ~ div.form-actions {
  clear: both;
  float: right;
  margin-top: 35px;
}
