div.tags {
  clear: both;
}

a.tag {
  border-radius: 5px 5px 5px 5px;
  padding: 1px 5px;
  margin-right: 5px;
  background: none repeat scroll 0px 0px rgb(239, 239, 239);
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}

#wrapper > .main a.tag {
  color: #B7B7B7;
}
